<style>
    .Dropdown{width: 100px;text-align: center;overflow: hidden;position: absolute;top: 100%;left: 0;z-index: 10000;margin-top: 2px;}
    .Dropdown-text{width: 100%;padding:5px;border:1px solid #ccc;border-bottom: 0;border-top-left-radius:4px;border-top-right-radius:4px;}
    .Dropdown-text input[type=text]{width: 100%;height: 23px;outline: none;padding: 0 5px;font-size: 12px;}
    .Dropdown-menu{max-width: 130px!important;width: 100px;min-width: auto!important;position: static;float: none;display: block!important;margin: 0;border-top-left-radius: 0px;border-top-right-radius: 0;overflow: auto;max-height: 200px;}
    .dropdown-menu li{font-size: 12px;}
    .dropdown-menu li a{text-overflow: ellipsis;overflow: hidden;}
    .btn-Down-value{width: 75px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 30px;}
</style>
<div class="btn-group ">
    <button type="button" title="{{Default.value}}" class="btn btn-Down-value btn-default btn-sm">{{Default.value}}</button>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" ng-click="ShowMenu()">
    <span class="caret"></span>
  </button>
    <div ng-if="show" class="Dropdown">
        <div class="Dropdown-text">
            <input type="text" ng-model='MenuValue' ng-change="SearchData(MenuValue)">
        </div>
        <ul class="dropdown-menu Dropdown-menu">
            <li ng-repeat="item in DownList track by $index" title='{{::item.name}}' ng-click="DefaValue(item.value)"><a href="javascript:;">{{::item.name}}</a></li>
        </ul>
    </div>
</div>